<div id='rss_header'>
<img id='rss_inline' src="../images/reddit_logo.png">
<h1 id='rss_inline' >Dota 2 Reddit Feed</h1>
<img id='rss_inline' src="../images/reddit_logo.png">
</div>


<div id="rss_feed">
<% @feed["http://www.reddit.com/r/Dota2.rss"].entries.first(20).map do |entry| %>
<p>
  <%= entry.title %><br>
  <a href="<%= entry.url %>">link</a>
</p>

<%end%>
<div>