// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page-title{
  text-align: center;
  color: white;
}

h2{
  color: black;
}

#log-in-with-steam{
  text-align: center;
  margin: 0 auto;
  width: 20%;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}

#log-in-with-steam-header{
  padding-top: 15px;
}

#steam-image{
  
}