#topics {
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  
}
#each_topic{
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-bottom: 5px;
}

#forum_title{
    text-align: center;
    padding-top: 10px;
}

#new_topic_link{
    text-align: center;
}

.forum_inline{
  display: inline;
}

#forum_title{
  padding-bottom: 10px;
}